*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    
}
img{
    width:100%;
    height:100vh;
}


.main-area{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:rgb(91, 39, 11,.8);
   
    
    
}
#img-area{
    background:url("/Images/basket-of-yarn.jfif");
   
    background-size:cover;
    background-position: center;
    background-color:034748;
    height:100vh;
}
#introduction-area{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
    color:rgb(255, 255, 255,.6);

}
#call-to-action{
    margin-top:8em;
    
   
    
    
}
.reach-out{
    margin-top:3em;
}
#introduction-area p{
    text-align:center;
    padding:0 50px;
    line-height:2;
    font-size:20px;
    
}
span{
    font-family:'Courgette',cursive;
    font-size:2.5em;
}
button{
    padding:10px 15px;
    margin:10px;
    background-color:black;
    color:white;
    outline:1px solid grey;
    border:none;
    appearance: none;
    transition:all 0.5s ease;
    opacity:1
}
button:hover {
    background:linear-gradient(120deg,transparent,#deb887);
    color:black;
    opacity:.7;
    font-size:15px;
    
}
input{
    padding:10px 20px;
    margin:10px 0;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
}
@media screen and (max-width:700px){
    .container {
        display:flex;
        flex-direction:column-reverse;
    }
    #introduction-area{
        margin-top:2em;
    
    }
}
